<div class="container">
  <h1>Hi <%= @user.email %></h1>
  <h3>Your bookings</h3>

  <% @bookings.each do |booking| %>
    <div class="card-user">
      <%= cl_image_tag booking.bike.photo.key, class: "image" %>
      <div class="card-user-infos">
        <h2><%= booking.bike.name %></h2>
        <p>Your booking is <strong><%= booking.status %></strong> 🚲.</p>
    </div>
   </div>
  <% end %>


  <h3>Your booking request</h3>
  <% @booking_requests.each do |booking| %>
    <div class="card-user">
      <%= cl_image_tag booking.bike.photo.key, class: "image" %>
      <div class="card-user-infos">
        <h2><%= booking.bike.name %></h2>
        <h6>Request from <%= booking.user.email %></h6>
        <p>The status is <strong><%= booking.status %></strong> 🚲.</p>
        <p> <%= booking.created_at %></p>
    </div>
   </div>
  <% end %>
</div>
